* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.bodyContainer {
  width: 100vw;
  /* border: 2px solid rgb(231, 25, 59); */
}

.button-style {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(27, 106, 180);
  padding: 6px 10px;
  background-color: antiquewhite;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5%;
}

.button-style:hover {
  color: red;
}

.button-style:active {
  color: rgb(27, 106, 180);
}

/* .para-style {
} */

/* ******************************************* */

.logoHeading {
  width: 100%;
  height: 25vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 67, 121);
  /* background: rgb(102,4,4);
  background: linear-gradient(201deg, rgba(102,4,4,0.9108018207282913) 0%, rgba(24,31,38,1) 92%); */
  /* background: rgb(132, 34, 34);
  background: linear-gradient(201deg, rgba(130, 23, 23, 0.911) 0%, rgba(84,8,21,1) 92%); */
}

.logo-style {
  height: 100%;
  border-radius: 50%;
}

.nav-bar {
  /* border-bottom: 1px solid rgb(14, 46, 75);
   */
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-container {
  border: 1px solid rgb(27, 106, 180);
  border-radius: 6%;
}

::placeholder {
  color: rgb(27, 106, 180);
  opacity: 1; /* Firefox */
}

input:focus {
  outline: none;
}

.four-images-container {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}

.image-info-container {
  height: 100%;
  /* border:  solid green; */
  width: 20%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5%;
}

.home-image-style {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  border-radius: 5%;
}

.home-info-style {
  position: absolute;
  bottom: 0px;
  left: 38%;
  background-color: antiquewhite;
  padding: 10px;
  color: rgb(27, 106, 180);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.home-image-style:hover {
  transform: scale(0.9);
}

.footer-container {
  height: 12vh;
  display: flex;
  justify-content: space-around;
  /* border: 2px solid green; */
  align-items: center;
  color: rgb(27, 106, 180);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 12px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
}

.social-media {
  display: flex;
}

.social-media p {
  padding-right: 10px;
}

.social-media .mini-icon .icon-space {
  padding-right: 10px;
  cursor: pointer;
}
